

.footer{
    font-family: 'Patrick Hand', cursive;
    background-color: rgb(233, 61, 61);
    color: aliceblue;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid black;
}